{% extends 'main/base.html' %}

{% load static %}

{% block title %}Home{%endblock %}

{% block content %}

<main>
    <div class="home">
        <nav class="home-main-text">
            <h1>Planter</h1>
            <h2>Plants Databased For Plants Lover</h2>
        </nav>
        
        <div class="search-form">
            <form class="form-container">
                <input type="search" class="form-control" id="search" placeholder="Search For Plant...">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>

    <!-- Plants Section -->
    <div class="all-plants">
        <div class="all-plants-text">
            <h2>Plants</h2>
            <h5>Learn More About Plants</h5>
        </div>
        
        <div class="all-plants-link">
            <a href="{% url 'plants:all_plants_view' %}">
                <h5 class="more-link">More</h5>
                <span class="material-symbols-outlined">arrow_forward</span>
            </a>
        </div>
    </div>
    
    <section class="plants-section">
        {% for plant in plant %}
        <div class="plant-card">
            <img src="{{plant.image.url}}" alt="{{plant.name}}">
            <h3>{{ plant.name }}</h3>
            <p>{{ plant.about }}</p>
            <p class="category">{{ plant.category }}</p>
        </div>
        {%endfor%}

    </section>
</main>

{% endblock %}
