{% extends 'main/base.html' %}

{% load static %}

{% block title %}Messages{%endblock %}

{% block content %}

<div class="messages-container">
    <h1>Messages from Users</h1>
    
    <div class="messages-grid">
      <!-- Message Card -->
      <div class="message-card">
        <div class="material-symbols-outlined">account_circle</div>
        <div class="message-content">
          <h2>Ahmed Mohammed</h2>
          <a href="mailto:moh@gmail.com">moh@gmail.com</a>
          <p>Body text for whatever you’d like to suggest. Add main takeaway points, quotes, anecdotes, or even a very very short story.</p>
        </div>
      </div>
    </div>
  </div>






{% endblock %}