{% extends 'main/base.html' %}

{% load static %}

{% block title %}Messages{%endblock %}

{% block content %}

<div class="messages-container">
    <h1>Messages from Users</h1>
    
    <div class="messages-grid">
      <!-- Message Card -->
       {% for messages in messages %}
      <div class="message-card">
        <div class="material-symbols-outlined">account_circle</div>
        <div class="message-content">
          <h2>{{messages.first_name}} {{messages.last_name}}</h2>
          <a href="{{messages.email}}">{{ messages.email }}</a>
          <p>{{messages.message}}</p>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>






{% endblock %}