{% extends 'main/base.html' %}

{% load static %}

{% block title %}All Plants{%endblock %}

{% block content %}

<div class="all-plants-container">
    <div class="all-plants-text-2">
        <h1>All Plants</h1>
        <p class="subheading">Explore our plant database to learn more about various plants.</p>
    </div>

    <section class="all-plants-section">
        {% for plant in plant %}
            <div class="all-plant-card">
                <img src="{{ plant.image.url }}" alt="{{ plant.name }}" class="all-plant-image">
                <a href="{% url 'plants:plant_detail_view' plant.id%}"><h3>{{ plant.name }}</h3></a>
                <p>{{ plant.about }}</p>
                <p class="all-category">{{ plant.category }}</p>
            </div>
        {% endfor %}
    </section>
</div>
    

{% endblock %}